

{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
房间 {{room.room_num}} 账单
{% endblock %}

{% block main %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3><a class="btn btn-success" href="../">返回房间面板</a>    房间 {{room.room_num}} 账单</h3>
      
  </div>
  <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>No.</th>
          <th>Date</th>
          <th>Working Time</th>
          <th>{{period}} Cost</th>
        </tr>
        {% for it in costlist %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ it.0 }}</td>
          <td>{{ it.1 }}</td>
          <td>￥{{ it.2 }}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>
{% endblock %}
