<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Client</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="jquery.mlens-1.0.min.js"></script>
        
        <style>
        body
        {
            font-family : Arial;
            background-color : #EFEFEF;
        }
        .content
        {
            width : 800px;
            padding : 25px 50px;
            margin : 25px auto;
            background-color : #fff;
            box-shadow: 0px 0px 10px #999;
            border-radius: 15px;
        }
        
        .contentblock
        {
            width : 750px;
            margin : 0 auto;
            padding : 0;
            border-spacing : 25px 0;
        }
        
        .contentblock td
        {
            background-color : #fff;
            padding : 25px 50px;
            vertical-align : top;
            box-shadow: 0px 0px 10px #999;
            border-radius: 15px;
        }
        
        input
        {
            vertical-align:middle;
            margin:3px;
        }

        p
        {
            font-family : Arial;
            font-size : 15px;
        }

        h1
        {
            text-align : center;
            font-family : Arial;
            font-size : 30px;
        }
        
        </style>
        
    </head>
    
    <body>
        
        <table class="contentblock">
            <tr>
                <td style="width:300px;">
                    <h2>State</h2>
                    
                    <hr /><br /><div id = "state"></div><br />
                    
                    &#8451;<hr /><div id = "control"></div>
                    
                    <script>
                        var url = location.href;
                        var paraString = url.split("%25")
                        len = paraString.length - 1
                        var room_id = paraString[len]
                        var client_state = paraString[len-1]
                        var client_power = paraString[len-2]
                        var client_mode = paraString[len-3]
                        
                        paraString = paraString[len-4].split("%24")
                        len = paraString.length - 1
                        var room_cost = paraString[len]
                        
                        if (client_state.indexOf("%20") >= 0) client_state = "off failure"
                       
                        
                        var para=document.createElement("p");
                        para.setAttribute("id","room_id");
                        var node=document.createTextNode("Room: " + room_id);
                        para.appendChild(node);
                        var element=document.getElementById("control");
                        element.appendChild(para);
                        
                        var para=document.createElement("p");
                        para.setAttribute("id","client_state");
                        var node=document.createTextNode("Client State: " + client_state);
                        para.appendChild(node);
                        var element=document.getElementById("room_id");
                        element.appendChild(para);
                        
                        //alert(client_state)
                    </script>
                    
                    <hr />
                    <div id = "hr_cost"></div>
                    
                    <script>
                        var para=document.createElement("p");
                        para.setAttribute("id","cost");
                        var node=document.createTextNode("Cost: ");
                        para.appendChild(node);
                        var element=document.getElementById("hr_cost");
                        element.appendChild(para);
                        
                        var para=document.createElement("p");
                        para.setAttribute("id","room_cost");
                        var node=document.createTextNode(room_cost);
                        para.appendChild(node);
                        var element=document.getElementById("cost");
                        element.appendChild(para);
                        
                        document.getElementById("room_cost").style.fontSize="xx-large";
                    </script>
                    
                    &#65509;
                </td>
                
                <td style="width:400px;">
                    
                    <h2 >Control</h2>
                    <hr /><br />
                    
                    <script>
                    function setCookie(c_name, temp)
                    {
                            var exdate=new Date()
                            expiredays=1
                            exdate.setDate(exdate.getDate()+expiredays)
                            document.cookie=c_name+ "=" +escape(temp)+
                            ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
                    }
                    function getCookie(c_name)
                    {
                        if (document.cookie.length>0)
                        {
                            c_start=document.cookie.indexOf(c_name + "=")
                            if (c_start!=-1)
                            {
                                c_start=c_start + c_name.length+1
                                c_end=document.cookie.indexOf(";",c_start)
                                if (c_end==-1) c_end=document.cookie.length
                                return unescape(document.cookie.substring(c_start,c_end))
                            }
                        }
                        return ""
                    }
                    </script>
                    
                    <div id="br0"></div>
                    <script>
                        var temp
                        if (document.cookie.indexOf(room_id+"temp")!=-1)
                            temp = getCookie(room_id + "temp")
                        else temp = 25
                        setCookie(room_id + "temp",temp);
                        
                        //temp = 25
                        var para=document.createElement("p1");
                        para.setAttribute("id","p1");
                        var node=document.createTextNode(temp);
                        para.appendChild(node);
                        var element=document.getElementById("br0");
                        element.appendChild(para);
                        
                        function change(add)
                        {
                            x=document.getElementById("p1");
                            temp= x.innerHTML
                            if (add == 1){
                                temp=parseFloat(temp) + 1;
                                if((client_mode == "warm") && (temp > 30))
                                    temp=parseFloat(temp) - 1;
                                else if((client_mode == "cold") && (temp > 25))
                                    temp=parseFloat(temp) - 1;
                                templ=Math.round(temp*10)/10;
                            }
                            else if (add == 0){
                                temp=parseFloat(temp) - 1;
                                if((client_mode == "warm") && (temp < 25))
                                temp=parseFloat(temp) + 1;
                                else if((client_mode == "cold") && (temp < 18))
                                temp=parseFloat(temp) + 1;
                                templ=Math.round(temp*10)/10;
                            }
                            document.getElementById("p1").innerHTML=temp;
                            setCookie(room_id + "temp",temp);
                        }
                    </script>
                    
                    <script>
                        para=document.createElement("p3");
                        para.setAttribute("id","p3");
                        node=document.createTextNode("\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0");
                        para.appendChild(node);
                        element=document.getElementById("p1");
                        element.appendChild(para);
                    </script>
                    
                    <script>
                        var temp_real
                        if (document.cookie.indexOf(room_id+"temp_real")!=-1)
                            temp_real = getCookie(room_id + "temp_real")
                        else
                        temp_real=Math.floor(Math.random()*(12))+18;
                        
                        //temp_real = 25
                        temp_real=Math.round(temp_real*10)/10;
                        var para1=document.createElement("p2");
                        para1.setAttribute("id","p2");
                        var node1=document.createTextNode(temp_real);
                        para1.appendChild(node1);
                        var element1=document.getElementById("state");
                        element1.appendChild(para1);
                        
                        document.getElementById("p1").style.fontSize="x-large";
                        document.getElementById("p2").style.fontSize="x-large";
                        
                        setCookie(room_id + "temp_real",temp_real);
                        
                        var int = self.setInterval("dynamic()", 1000*60);
                        function dynamic()
                        {
                            temp_real=Math.round(temp_real*10)/10;
                            var fluc=0.1
                            if(Math.floor(Math.random()*(10000))>5000) temp_real=temp_real+fluc
                            else temp_real= temp_real-fluc
                            temp_real=Math.round(temp_real*10)/10;
                            document.getElementById("p2").innerHTML=temp_real;
                            setCookie(room_id + "temp_real", temp_real);
                        }
                    
                        var int_real =null
                        if (client_state == "on") int_real=self.setInterval("working()", 1000);
                        function working()
                        {
                            var power_level
                            var work_mode
                        
                            temp_real = getCookie(room_id + "temp_real");
                            radionum = document.getElementById("form").power
                            for(var i=0; i<radionum.length; i++){
                                if(radionum[i].checked)
                                power_level = parseFloat(radionum[i].value)
                            }
                        
                            radionum = document.getElementById("form").mode
                            for(i=0; i<radionum.length; i++){
                                if(radionum[i].checked)
                                work_mode = radionum[i].value
                            }
                            
                            temp_real=Math.round(temp_real*10)/10;
                            room_cost=Math.round(room_cost*10)/10;
                            power_level=Math.round(power_level*10)/10;
                

                            if(client_mode == "warm"){
                                if(temp_real < temp){
                                    if(power_level == 0.8) room_cost = room_cost + 1.3*5/60;
                                    else if(power_level == 0.4) room_cost = room_cost + 1*5/60;
                                    else if(power_level == 0.4) room_cost = room_cost + 0.8*5/60;
                                    
                                    temp_real=temp_real+power_level;
                                }
                                else{
                                    int_real=window.clearInterval(int_real);
                                /*
                                 document.getElementById("client_state").value="waiting";
                                 document.form.submit();
                                 */
                                }
                            }
                            else{
                                if(temp_real > temp){
                                    if(power_level == 0.8) room_cost = room_cost + 1.3*5/60;
                                    else if(power_level == 0.4) room_cost = room_cost + 1*5/60;
                                    else if(power_level == 0.4) room_cost = room_cost + 0.8*5/60;
                                    
                                    temp_real=temp_real-power_level;
                                }
                                else{
                                    int_real=window.clearInterval(int_real);
                                /*
                                 document.getElementById("client_state").value="waiting";
                                 document.form.submit();
                                 */
                                }
                            }
                            room_cost=Math.round(room_cost*100)/100;
                            document.getElementById("room_cost").innerHTML=room_cost;
                            document.getElementById("client_cost").value=room_cost;
                            
                            temp_real=Math.round(temp_real*10)/10;
                            document.getElementById("p2").innerHTML=temp_real;
                            setCookie(room_id + "temp_real",temp_real);
                        }
                    </script>
                    <form action="http://10.105.249.4:11112/client/yangguang/" id="form" method="post">
                        &#8451;<br /><hr /><br />
                        
                        <input type="button"  value='+'  onClick = "change('1')"> &nbsp;&nbsp;
                        <input type="button"  value='-'  onClick = "change('0')"><br /><br /><hr /><br />
                            
                        high  <input type="radio" id= "power1" name="power" value="0.8" checked/> &nbsp;&nbsp;&nbsp;&nbsp;
                        medium  <input type="radio" id= "power2" name="power" value="0.4"/> &nbsp;&nbsp;&nbsp;&nbsp;
                        low  <input type="radio" id= "power3" name="power" value="0.2"/><br /> <br /><hr />
                        
                        <input type="hidden"  id ='temp' name="temp" value=""><br />
                        <input type="hidden"  id ='aim_temp' name="aim_temp" value="">
                        <input type="hidden"  id ='date' name="date" value="">
                        <input type="hidden"  id ='room_state' name="room_state" value="">
                        <input type="hidden"  id ='client_cost' name="client_cost" value="">
                        <input type="hidden"  id ='roomid' name="roomid" value="">

                            
                        warm  <input type="radio" id= "warm" name="mode" value="warm"/> &nbsp;&nbsp;&nbsp;&nbsp;
                        cold  <input type="radio" id= "cold" name="mode" value="cold" checked/><br /><br /><hr />
                        <input type="submit" name="start" value="on/refresh" >
                        <input type="submit" name="start" value="off">
                    </form>
                    
                       

                         <script>
                        document.getElementById("temp").value=temp_real;
                        document.getElementById("aim_temp").value=temp;
                        var time=new Date()
                        var room_time= time.getFullYear() + "." + time.getMonth() + "." +time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds() + ":" + time.getMilliseconds()
                        
                        //var room_time=time
                        document.getElementById("date").value=room_time;
                        document.getElementById("room_state").value=client_state;
                        document.getElementById("client_cost").value=room_cost;
                        document.getElementById("roomid").value=room_id;
                        
                        if (client_power == 0.8) document.getElementById("power1").checked=true
                        else if (client_power == 0.4) document.getElementById("power2").checked=true
                        else if (client_power == 0.2) document.getElementById("power3").checked=true
                        
                        if (client_mode == "cold") document.getElementById("cold").checked=true
                        else if (client_mode == "warm") document.getElementById("warm").checked=true
                        
                        //alert(client_state)
                        setInterval("document.all.form.submit()",15000);
                    </script>
                </td>
                
            </tr>
        </table>
    </body>
</html>
