<title>空调系统界面导航</title>
<meta http-equiv="refresh" content="5" />
{% extends "base.html" %}
{% load bootstrap3 %}

{% block main %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3><a class="btn btn-success" href="./daycost">查日结算账单</a>  房间 {{room.room_num}} 面板</h3>
  </div>
  <div class="panel-body">
    <form action="" method="POST" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="确认设置" onClick="javascript:alert('提交成功'); return true;">
      <input class="btn btn-default" type="reset" value="重置设置">
    </form>
  </div>
</div>
{% endblock %}
